{% load static %}
<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>How It Works</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static "css/main.css" %}"/>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><strong><a href="index">Insure</a></strong> Data Safe</h1>
				<h2 style="background-image: url({% static '/images/ids-nofx-small.png' %});">&nbsp;</h2>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="elements">How it Works</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major special">
						<h2>A technical perspective</h2>
						<p>How we accomplished this</p>
					</header>

					<!-- Text -->
						<section>
							<h3>Language: Python (3)</h3>
							<p>Python is a widely used and adapted language, all while being a high-level language and simple. We chose python because it has libraries that were special to us,
							<br>Specifically, <b>Django</b> (HTML wrapper and server), <b>PyCrypto</b> (data encryption), <b>PyODBC</b> (Python database and connection).
							<br>Python also has support for GUIs and libraries that allow us to make it sleek and modern looking.
							<br>Deployment in Python is very simple, as our Django website runs by a simple command.
							</p>

							<hr />

							<header>
								<h3>Backend: Microsoft Access Database</h3>
							</header>
							<p>Microsoft Access is easy and reliable. It also supports communication with Python, so we can do database management through Python in SQL.
							<br>Access itself can be a front-end to a MySQL database and it then supports all of MySQLs huge usability.
							</p>
							
							<hr />
							
							<header>
								<h3>Frontend: Python GUI</h3>
							</header>
							<p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan.</p>
							
							<h4>Preformatted</h4>
							<pre><code>i = 0;

while (!deck.isInOrder()) {
print 'Iteration ' + i;
deck.shuffle();
i++;
}

print 'It took ' + i + ' iterations to sort the deck.';</code></pre>
						</section>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="https://github.com/officialcybersaint/tgh2019" target="_blank" class="icon fa-github"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Untitled</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
						<li>Images: <a href="http://unsplash.com">Unsplash</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{% static "js/jquery.min.js" %}"></script>
			<script src="{% static "js/skel.min.js" %}"></script>
			<script src="{% static "js/util.js" %}"></script>
			<script src="{% static "js/main.js" %}"></script>

	</body>
</html>